/* for max widt 1024px */

@media screen and (max-width: 1025px) {
    /* .hero-container {
        height: 60vh;
    } */

    .hero-container {
        background-image: url(./assets/asset\ 19.jpeg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }

    .navbarsection {
        justify-content: space-between;
        margin-inline: 48px;
    }

    .sticky {
        margin-inline: 0px;
        padding-inline: 48px;
    }

    .user-photo-basic-details .user-basic-details {
        gap: 22px;
        font-size: 14px;
    }

    .about-sec {
        margin-inline: 48px;
    }

    .service-skills-card {
        margin-inline: 48px;
    }

    .user-photo-basic-details {
        gap: 21px;
    }

    .portfolio-section-cards {
        padding-inline: 48px;
    }

    .blog-section-cards {
        padding-inline: 48px;
    }

    .blog-section-cards .card-body h3 {
        font-size: 1.3rem;
    }

    .blog-section-cards .card-body p {
        text-align: left;
    }

    card-footer .post-author img {
        width: 30px;
    }

    .card-footer {
        padding: 12px;
    }

    .card-footer .post-author p {
        font-size: 14px;
    }

    .service-cards h2 {
        font-size: 1.4rem;
    }

    footer {
        padding-inline: 4rem;
    }
}

/* for max width 769px  */
@media screen and (max-width: 768px) {
    .navbarsection .nav-toggle {
        display: block;
        color: white;
        font-size: 1.5rem;
    }

    .nav-links {
        position: absolute;
        background-color: white;
        left: -100%;
        top: 22%;
        width: 100%;
        height: fit-content;
        padding-block: 20px;
        transition: 0.5s ease-in-out;
        z-index: 23;
    }

    .nav-links.active {
        left: 0;
    }

    nav ul li a {
        color: black;
        font-weight: bold;
    }

    nav ul li {
        margin-bottom: 20px;
        text-align: center;
    }

    .navbarsection nav ul {
        display: block;
    }

    .sticky {
        display: none;
    }

    .about-sec .user-information-sec {
        width: 100%;
    }

    .about-sec {
        flex-wrap: wrap;
    }

    .about-sec .user-about-sec {
        width: 100%;
    }

    .user-photo-basic-details {
        gap: 60px;
    }

    .user-photo-basic-details .user-basic-details {
        font-size: 1rem;
    }

    .service-cards {
        width: 100%;
    }

    .service-skills-card {
        flex-direction: column;
    }

    .portfolio-section-cards {
        flex-direction: column;
    }

    .portfolio-section-cards-items {
        width: 100%;
    }

    .blog-section-cards {
        flex-direction: column;
    }

    .blog-section-cards-box {
        width: 100%;
    }

    .blog-section-cards .card-body h3 {
        font-size: 1.7rem;
        text-align: start;
    }

    .blog-section-cards .card-body p {
        text-align: center;
    }

    .contact-section {
        flex-direction: column;
    }

    .contact-section .box {
        width: 100%;
    }

}

/* for max width 913px  */
@media screen and (max-width: 913px) {
    .user-photo-basic-details .user-basic-details {
        font-size: 11px;
    }

    .user-about-sec p {
        font-size: 1rem;
    }

    .service-skills-card {
        flex-direction: column;
    }

    .service-cards {
        width: 100%;
    }

    .blog-section-cards {
        flex-direction: column;
    }

    .blog-section-cards-box {
        width: 100%;
    }


    .portfolio-section-cards {
        flex-direction: column;
    }

    .portfolio-section-cards-items {
        width: 100%;
    }


}

/* for max width 541px  */
@media screen and (max-width: 541px) {
    .intro h2 {
        font-size: 3rem;
    }

    .section-counter-container {
        flex-wrap: wrap;
    }

    .section-counter-items p {
        text-align: center;
    }

    .get-in-touch-sec .get-in-touch-info p {
        margin-top: 1rem;
        font-size: 1.1rem;
    }

    .get-in-touch-info ul li span {
        font-size: 0.9rem;
    }
}

/* for max width 414px  */
@media screen and (max-width: 415px) {
    .navbarsection {
        margin-inline: 23px;
    }

    .about-sec {
        margin-inline: 15px;
    }

    .about-sec {
        padding-inline: 15px;
    }

    .user-photo-basic-details {
        width: 100%;
    }

    .user-photo-basic-details .user-basic-details {
        font-size: 1.3rem;
    }

    .user-information-sec .user-skill-sec .skill-title {
        font-size: 1.8rem;
    }

    .about-sec .user-about-sec {
        width: 100%;
        margin-top: 14px;
    }

    .service-skills-card {
        margin-inline: 20px;
    }

    .section-counter {
        padding: 2rem 0;
    }

    .portfolio-section {
        margin-top: 2rem;
    }

    .testimonials-section {
        position: relative;
        padding: 3rem 0;
    }

    footer {
        padding-block: 3rem;
    }

    .contact-section {
        padding-block: 2rem;
    }

    .portfolio-section-cards {
        padding-inline: 20px;
    }

    .blog-section-cards {
        padding-inline: 20px;
    }

    .contact-section {
        padding-inline: 10px;
    }

    .user-photo-basic-details {
        flex-direction: column;
    }

    .user-photo-basic-details img {
        width: 100%;
    }

    .about-sec .user-information-sec {
        gap: 35px;
        align-items: center;
    }

    .service-box1 p {
        padding-inline: 33px;
        text-align: center;
    }

    .services-sec .service-box1 .service-line {
        width: 16%;
    }

    .portfolio-section-part1 p {
        padding-inline: 33px;
        text-align: center;
    }


    .portfolio-line {
        display: block;
        width: 12%;
    }

    .blog-title-sec p {
        padding-inline: 33px;
        text-align: center;
    }

    .blog-section .blog-title-sec .blog-line {
        width: 12%;
    }

    .blog-section-cards .card-body h3 {
        text-align: center;
    }

    footer {
        padding-inline: 1rem;
    }
}

/* for max width 391px  */
@media screen and (max-width: 391px) {
    .navbarsection {
        margin-inline: 15px;
    }

    .about-sec {
        padding-inline: 20px;
    }

    .testimonials-box-items p {
        font-size: 1rem;
    }

    .footer-massege-contact-sec {
        align-items: center;
    }

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .get-in-touch-info ul li span {
        font-size: 0.7rem;
    }

    .get-in-touch-info ul li i {
        font-size: 0.7rem;
    }

    .social-icon ul li {
        width: 40px;
        height: 40px;
    }
}

/* for max width 375x  */
@media screen and (max-width: 376px) {
    .user-basic-details p {
        display: flex;
        font-size: 1.2rem;
    }

    .user-photo-basic-details {
        gap: 30px;
    }

    .about-sec {
        margin-inline: 10px;
    }

    .service-skills-card {
        margin-inline: 10px;
    }

    .portfolio-section-cards {
        padding-inline: 10px;
    }

    .blog-section-cards {
        padding-inline: 10px;
    }

    .intro h2 {
        font-size: 2.5rem;
    }

    .intro span {
        font-size: 2.3rem;
    }

    .service-cards h2 {
        font-size: 1.3rem;
    }
}

/* for max width 280x  */
@media screen and (max-width: 281px) {
    .intro h2 {
        font-size: 2rem;
    }

    .navbarsection h2 {
        font-size: 1rem;
    }

    .user-detail-section {
        padding-block: 35px;
    }

    .user-basic-details p {
        display: flex;
        font-size: 0.9rem;
    }

    .testimonials-section {
        padding: 3rem 0;
    }

    .blog-section {
        margin-top: 40px;
    }

    footer {
        padding-block: 2rem;
    }

    .contact-section {
        padding-block: 2rem;
    }

    .about-sec {
        margin-inline: 10px;
    }

    .about-sec {
        padding-inline: 10px;
    }

    .about-sec {
        margin-inline: 48px;
    }

    .about-sec {
        padding-block: 20px;
    }

    .navbarsection .nav-toggle {
        font-size: 1rem;
    }

    .intro span {
        font-size: 1.6rem;
    }

    .about-sec {
        margin-inline: 15px;
    }

    /* .user-basic-details p {
        font-size: 0.8rem;
    } */

    .service-skills-card {
        margin-inline: 15px;
    }

    .service-cards h2 {
        font-size: 1.2rem;
    }

    .portfolio-section-cards {
        padding-inline: 15px;
    }

    .portfolio-section-cards .portfolio-section-cards-content .texts p {
        font-size: 1rem;
        font-weight: bold;
    }

    .testimonials-box-items p {
        font-size: 0.9rem;
        line-height: 20px;
    }

    .blog-section-cards {
        padding-inline: 15px;
    }

    .post-date {
        font-size: 0.9rem;
    }

    .card-footer .post-author p {
        font-size: 11px;
    }

    .contact-section {
        padding-inline: 10px;
    }

    .title h2 {
        font-size: 1.6rem;
        position: relative;
    }

    .get-in-touch-sec .get-in-touch-info p {
        font-size: 1rem;
    }

    .get-in-touch-info ul li span {
        font-size: 0.6rem;
    }

    .portfolio-section-part1 h2 {
        font-size: 2rem;
    }
}