* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;

}

/* utility classes */
.flex {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1180px;
    margin-inline: auto;
    /* border: 2px solid red; */
    /* overflow: hidden; */
}


/* hero-container */
.hero-container {
    color: white;
    font-family: 'Lato', sans-serif;
    /* justify-content: center;
    align-items: center;
    display: flex; */

}

.hero-container {
    background-image: url(./assets/asset\ 19.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    /* z-index: -1; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    position: relative;
}

.navbarsection {
    justify-content: space-around;
    margin-top: 40px;
}

nav ul {
    gap: 25px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.nav-links li::after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    margin-top: 5px;
    background-color: white;
}

.nav-links li:hover::after {
    width: 100%;
    transition: width 0.6s linear;
}

.intro {
    position: absolute;
    text-align: center;
    width: 100%;
    /* height: 100vh; */
    text-align: center;
    top: 40%;
}

.intro h2 {
    font-size: 5rem;
}

.intro span {
    font-size: 2.5rem;
    line-height: 70px;
    color: #1c139c;
    font-weight: 800;
}

/* user-detail-section */
/* about-section start  */
.user-detail-section {
    padding-block: 60px;
    background-color: #f5f5f5;
}

.about-sec {
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
    padding: 50px;
    /* justify-content: space-between; */
    gap: 5%;
}

.about-sec .user-information-sec {
    /* border: 2px solid green; */
    width: 50%;
    flex-direction: column;
    gap: 20px;
    align-items: start;

}

.about-sec .user-about-sec {
    /* border: 2px solid yellow; */
    width: 50%;
}

.user-photo-basic-details {
    gap: 40px;
}

.user-photo-basic-details .user-basic-details {
    flex-direction: column;
    align-items: start;
    gap: 24px;
}

.user-photo-basic-details .user-basic-details .title {
    font-weight: bold;
    margin-right: 10px;
}

.user-photo-basic-details .user-basic-details .title-info {
    color: #4e4e4e;
}

.user-information-sec .user-skill-sec {
    /* flex-direction: column;
    align-items: start; */
    /* gap: 20px; */
    width: 100%;
    color: #4e4e4e;
}

.user-information-sec .user-skill-sec .skill-title {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
    margin-bottom: 1rem;
}

.user-information-sec .user-skill-sec .pull-right {
    float: right;
}

.skill-line {
    width: 100%;
    border: 1px solid black;
}

.user-information-sec .user-skill-sec .progress {
    background-color: #cde1f8;
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}

.user-information-sec .user-skill-sec .progress .progress-bar-html {
    width: 85%;
    background-color: #007bff;
    height: 100%;
}

.user-information-sec .user-skill-sec .progress .progress-bar-css {
    width: 75%;
    background-color: #007bff;
    height: 100%;
}

.user-information-sec .user-skill-sec .progress .progress-bar-php {
    width: 50%;
    background-color: #007bff;
    height: 100%;
}

.user-information-sec .user-skill-sec .progress .progress-bar-javascript {
    width: 90%;
    background-color: #007bff;
    height: 100%;
}

.user-about-sec h2 {
    font-size: 32px;
}

.user-about-sec h2::after {
    content: " ";
    display: block;
    width: 20%;
    height: 3px;
    background-color: #007bff;
    margin-top: 5px;
    margin-bottom: 1.25rem;

}

.user-about-sec p {
    font-size: 1.25rem;
    color: #4e4e4e;
    font-weight: 300;
    margin-bottom: 1rem;
    font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* about-section end  */

/* services-sec start */

.services-sec {
    margin-top: 60px;
    /* border: 2px solid red; */
}

.services-sec .service-box1 {
    flex-direction: column;
    gap: 10px;
}

.services-sec .service-box1 h2 {
    font-size: 3rem;
}

.services-sec .service-box1 p {
    color: #4e4e4e;
}

.services-sec .service-box1 .service-line {
    content: " ";
    display: block;
    width: 4%;
    height: 5px;
    background-color: #007bff;
    margin-top: 5px;
    margin-bottom: 1.25rem;
    text-align: center;
    margin: 0 auto;

}

.service-skills-card {
    /* border: 2px solid green; */
    margin-block: 60px;
    justify-content: space-between;
    gap: 20px;
}

.service-cards {
    width: 36%;
    background-color: rgb(255, 255, 255);
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

/* .service-skills-card .service-card1 {
    border: 2px solid blue;
} */

.service-cards .service-ico {
    /* margin-bottom: 1rem; */
    color: #1e1e1e;
    padding: 20px;
    width: 100%;
}

.service-cards .service-ico .icon-circle {
    height: 100px;
    width: 101px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.55;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #0078ff;
    /* display: block; */
    align-items: center;
    justify-content: center;
    transition: all 500ms ease;
}

.service-cards p {
    text-align: center;
    color: #4e4e4e;
    line-height: 25px;
}

.service-ico :hover.icon-circle {
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
    color: #fff;
}

.service-cards .service-ico .icon-circle i {
    font-size: 3rem;
}

/* services-sec end */


/* section-counter start */
.section-counter {
    /* border: 2px solid red; */
    position: relative;
    padding: 8rem 0;
    background-image: url(./assets/asset\ 20.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
}

.section-counter .overlay {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    background-color: #0078ff;
}

.section-counter-container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    justify-content: space-between;
}

.section-counter-container .section-counter-items {
    /* border: 2px solid white; */
}

.section-counter-items {
    width: 36%;
    justify-content: center;
    padding-right: 15px;
    padding-left: 15px;
    padding-block: 36px;
    color: white;
    position: relative;
    flex-direction: column;
    gap: 20px;
}

.section-counter-items .counter-cirle {
    width: 62px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #d4d7db;
    position: relative;
    justify-content: center;
}

.section-counter-items .counter-cirle {
    color: white;
    font-size: 2.4rem;
}

.section-counter-items h2 {
    font-size: 2rem;
}

.section-counter-items p {
    margin-top: -12px;
    font-weight: bold;
    /* font-size: 1rem; */
}

/* section-counter end */


/* portfolio-section start */
.portfolio-section {
    margin-top: 4rem;
    /* border: 2px solid blue; */
}

.portfolio-section-part1 {
    flex-direction: column;
    gap: 10px;
}

.portfolio-line {
    display: block;
    width: 4%;
    height: 5px;
    background-color: #007bff;
    text-align: center;
    margin: 0 auto;
}

.portfolio-section-part1 h2 {
    font-size: 3rem;
}

.portfolio-section-part1 p {
    color: #4e4e4e;
}

.portfolio-section-cards {
    margin-block: 60px;
    /* border: 2px solid red; */
    justify-content: space-between;
    gap: 30px;
}

.portfolio-section-cards-items {
    /* border: 2px solid blue; */
    width: 40%;
    /* height: 300px; */
    box-shadow: rgba(0, 0, 0, 0.06) 0px 1px 1px 0px, rgba(0, 0, 0, 0.2) 0px 2px 5px 0px;
}

.portfolio-section-cards-items .portfolio-images {
    /* border: 2px solid green; */
    width: 100%;
    height: 75%;
    display: block;
    overflow: hidden;
}

.portfolio-section-cards-items .portfolio-images img {
    width: 100%;
    /* height: 100%; */
    /* transform: scale(1); */
    transition: all 1s;
    display: block;
}

.portfolio-section-cards-items .portfolio-images:hover img {
    /* transform: scale(1.5); */
    transform: scale(1.3);
}

.portfolio-section-cards .portfolio-section-cards-content {
    /* border: 2px solid green; */
    width: 100%;
    /* height: 100%; */
    padding-block: 1rem;
    padding-inline: 10px;
    background-color: white;
    justify-content: space-between;
    cursor: pointer;

}

.portfolio-section-cards .portfolio-section-cards-content .texts {
    flex-direction: column;
    gap: 10px;
    align-items: start;
}


.portfolio-section-cards .portfolio-section-cards-content .texts p {
    font-size: 1.2rem;
    font-weight: bold;
}

.texts-detail .texts-head {
    font-size: 12.8px;
    color: #0078ff;
}

.texts-detail .date {
    font-size: 12.8px;
    color: #4e4e4e;
}

/* .icon-plus i {
    font-size: 2.5rem;
    color: cornflowerblue;
    cursor: pointer;
} */

.icon-plus img {
    width: 46px;
}


/* testimonials-section start  */
.testimonials-section {
    position: relative;
    padding: 8rem 0;
    background-image: url(./assets/asset\ 21.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    box-shadow: 0 13px 8px -10px rgba(0, 0, 0, 0.1);
    /* border: 2px solid red; */
}

.testimonials-section .overlay {
    position: absolute;
    top: 0;
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .7;
    background-color: #0078ff;
}

.testimonials-box {
    /* border: 2px solid white; */
    justify-content: center;
    position: relative;
}

.testimonials-box-items {
    justify-content: center;
    /* border: 2px solid green; */
    width: 100%;
}

.testimonials-box-items-contentbox {
    width: 100%;
}

.testimonials-box-items {
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.testimonials-box-items img {
    border-radius: 50%;
}

.testimonials-box-items h3 {
    color: white;
}

.testimonials-box-items p {
    width: 73%;
    text-align: center;
    line-height: 31px;
    font-size: 1.2rem;
    color: white;
}

/* testimonials-section end  */